{% extends 'base.html' %}

{% block title %}Панель преподавателя{% endblock %}

{% block content %}
<div class="container">
     <h1>Панель преподавателя</h1>
        <div class="nav-links">
             <a href="{{ url_for('add_group') }}">Добавить группу</a>
        </div>
       <h2>Список групп</h2>
      <ul>
           {% for group in groups %}
            <li>
                <div>
                     <a href="{{ url_for('view_group', group_id=group.id) }}">{{ group.name }}</a>
                  </div>
                    <div>
                         <a href="{{ url_for('delete_group', group_id=group.id) }}" onclick="return confirm('Вы уверены, что хотите удалить группу?')"  class="form-button small-button delete-button">Удалить</a>
                    </div>
            </li>
        {% endfor %}
     </ul>
    </div>
{% endblock %}